header {
  background-image: url('https://upload.cc/i1/2022/06/14/YdiW61.png');
  height: 420px;
  width: 100%;
  position: relative;
  z-index: 0;

  nav {
    background-color: black;
    position: absolute;
    z-index: 5;
  }
  .banner {
    position: absolute;
    z-index: 5;
    width: 330px;
    height: 300px;
  }
}
