header {
  background-image: url('https://upload.cc/i1/2022/06/14/YdiW61.png');
  height: 420px;
  width: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;

  nav {
    background-color: gray;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    ul {
      display: inline;
    }
  }
  .banner {
    position: absolute;
    z-index: 6;
    width: 330px;
    height: 300px;
    background-color: #000000 35%;
    opacity: 35%;
  }
}
