*,
*::before,
*::after {
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
}

body {
  background-color: $theme-color-background-light1;
  font-family: '微軟正黑體';
}

.wrap {
  margin: 0 auto;
}

.container {
  max-width: $screen-max-width;
  margin: 0 auto;
}

// component
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

}


//font size 
h1 {}

h2 {}

28 h3 {}

26 h4 {}

24 h5 {}

20 h6 {
  18 @include fontAndHeight(14px, 20px);
}

p {
  @include fontAndHeight(16px, 20px);
}