*,
*::before,
*::after {
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
}

body {
  background-color: $theme-color-background-light1;
  font-family: '微軟正黑體';
}

.wrap {
  margin: 0 auto;
}

.container {
  max-width: $screen-max-width;
  margin: 0 auto;
}

// component
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

}

p {
  @include fontAndHeight(16px, 24px);
  font-size: 16px;
}


//font size 
@include fontAndHeight(14px, 20px);
@include fontAndHeight(16px, 24px);
@include fontAndHeight(24px, 32px);

// row
@include flex-row(start, start);
@include flex-row(start, center);
@include flex-row(center, start);
@include flex-row(center, center);

//column
@include flex-column(start, start);
@include flex-column(start, center);
@include flex-column(center, start);
@include flex-column(center, center);