header {
  background-image: url('../header_mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  height: 420px;


  .container {
    @include flex-column('', '');

    nav {
      display: flex;
      justify-content: space-between;
      padding: 17px 13px;
      background-color: black;

      h1 {
        a {
          @include a-link-img($a-link-img-bright, 94px, 24px);
        }
      }

      &>div {
        a {
          @include a-link-img($menu-btn-img, 24px, 24px);
        }

        .show-menu {
          display: none;
        }
      }
    }

    .filter {
      background-color: rgba(#000000, 0.35);
      margin: 57px auto;
      text-align: center;
      padding: 20px 6px;

      h2,
      p {
        color: white;
      }

      h2 {
        line-height: 42px;
        font-size: 36px;
      }

      p {
        line-height: 24px;
      }
    }

  }

  //todo 修改到container裡面
  @include pad {
    nav {
      div>a {
        display: none;
      }

      ul {
        display: flex;

        li>a {
          @include a-link-btn;

          &:hover {
            background-color: black;
          }
        }
      }
    }

    .filter {}
  }
}

.store-feature {
  display: flex;
  flex-direction: column;
  background-color: $theme-color-background-lighter;
  color: $theme-color-background-lighter;
}

footer {
  background-color: $theme-color-background-lighter;

  .container {
    padding: 50px 11px;

    p,
    li {
      font-size: 16px;
    }

    div:not(:last-child) {
      margin-bottom: 30px;
    }

    h2 {
      margin-bottom: 16px;
      font-size: $font-l32;

      a {
        @include a-link-img($a-link-img-dark, 245px, 49px);
      }
    }

    .footer-link {
      @include flex-column(start, flex-end);

      ul {
        li {
          display: inline-block;
        }

        li:nth-child(1) a {
          @include a-link-img($a-link-img-google, 36px, 31px);
        }

        li:nth-child(2) a {
          @include a-link-img($a-link-img-twitter, 36px, 31px);
        }

        li:nth-child(3) a {
          @include a-link-img($a-link-img-FB, 36px, 31px);
        }
      }
    }

    @include pad {
      @include flex-row(start, '');
      padding: 50px 43px;
      flex-grow: 1;

      h2 {
        font-size: $font-m24;
      }

      div:not(:last-child) {
        width: 300px;
        margin-right: 21px;
        margin-bottom: 0px;
      }

      .footer-link {
        margin-left: auto;
      }
    }
  }
}