.store-feature {
    display: flex;
    flex-direction: column;
    background-color: $theme-color-background-lighter;
    color: $text-color-dark;
    text-align: center;

    .deco-line {
        border-bottom: 1px solid text-color-darkr;
    }

    p {
        text-align: left;
    }
}