.store-feature {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $theme-color-background-lighter;
    color: $text-color-dark;
    text-align: center;


    .deco-line {

        width: 139px;
        height: 1px;
        border-bottom: 1px solid #979797;
        align-self: center;
        margin: 13px;
    }




    p {
        text-align: left;
    }
}