.header {
  .banner {
    background-image: url('https://upload.cc/i1/2022/06/14/YdiW61.png');
    position: relative;
    z-index: 0;

    .filter {
      position: relative;
      background-color: #000000 35%;
      margin: 50px;
      z-index: 5;
      h2,
      p {
        color: $text-color-lighter;
      }
    }
  }
}
