.store-feature {
    display: flex;
    flex-direction: column;
    background-color: $theme-color-background-lighter;
    color: $text-color-dark;
    text-align: center;

    p {
        text-align: left;
    }
}