.store-feature {
    display: flex;
    flex-direction: column;
    background-color: $theme-color-background-lighter;
    color: $text-color-dark;
    text-align: center;

    &>div {
        display: flex;
        justify-content: center;
        color: darksalmon;

        .deco-line {
            border-bottom: 1px solid black;


        }
    }



    p {
        text-align: left;
    }
}