.store-feature {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $theme-color-background-lighter;
    color: $text-color-dark;
    text-align: center;

    &>div {
        display: flex;

        .deco-line {
            width: 139px;
            height: 1px;
            border-bottom: 1px solid #979797;
            align-self: center;
            margin: 13px;
        }
    }

    li {
        div {
            border: 50%;
        }

        &:nth-child(1) div {
            background-image: url('../img/feature_1.png');
            width: 50px;
            height: 50px;
            background-size: contain;
        }

    }



    p {
        text-align: left;
    }
}