img {
  width: 50px;
  height: 50px;
  background-color: black;
}
a {
  background-image: url('https://upload.cc/i1/2022/06/09/h5UCR1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -1000px;
  text-indent: 101%;
  overflow: hidden;
  display: block;
}
